.navbar {
    display: block;
    top: 0;
    left: 0;
    position: fixed;
    width: 12em;
    height: 100%;
    background: #333;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0.5em;
    z-index: 1;
}
.navbar a {
    background-color: #999;
    color: #fff;
    padding: 0.5em;
    margin: 0.5em;
    text-decoration: none;

}
.navbar a:hover {
    background-color: #666;
    padding: 0.5em 0.3em 0.5em 0.3em
}
.title {
    top: 1em;
    position: fixed;
    margin: auto;
    text-align: center;
    padding: 2px;
    width: 100%;

}
.body {
    background:white;
    width: 80%;
    top: 13em;
    left: 13em;
    position: fixed;
}
.space {
    margin: 1em;
}