.navbar {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 10em;
    height: 100%;
    background: #333;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 1em;
    z-index: 1;
}
.navbar a {
    background-color: #999;
    color: #fff;
    padding: 1em;
    text-decoration: none;

}
.navbar a:hover {
    background-color: #666;
    padding: 0.5em 0.3em 0.5em 0.3em
}
.title {
    top: 1em;
    position: fixed;
    margin: auto;
    text-align: center;
    padding: 10px;
    width: 100%;

}
.body {
    background:white;
    width: 50em;
    padding: 10px;
    top: 5em;
    left: 11em;
    position: fixed;
}
